torch --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
numpy
scipy
matplotlib
pesq
pystoi
tqdm
soundfile
pysepm-evo
git+https://github.com/jfsantos/SRMRpy
fastapi
uvicorn
streamlit
soundfile 
sounddevice
python-multipart
ipython
confluent_kafka